<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.gugu.gugumodel.mapper.CourseMapper">
    <select id="findSimpleCourseEntityByStudenId" parameterType="java.lang.Long" resultType="com.gugu.gugumodel.pojo.entity.SimpleCourseEntity">
        select course.id id,course.teacher_id teacherId,course.course_name courseName,
               course.introduction introduction from course,klass_student
        where klass_student.student_id=#{arg0} and klass_student.course_id=course.id
    </select>

    <insert id="newCourse" useGeneratedKeys="true" keyProperty="id" parameterType="com.gugu.gugumodel.pojo.entity.CourseEntity">
        insert course(id,teacher_id,course_name,introduction,presentation_percentage,
        question_percentage,report_percentage,team_start_time,team_end_time)
        values (#{id},#{teacherId},#{coursenName},#{introduction},#{presentationPercentage},
        #{questionPercentage},#{reportPercentage},#{teamStartTime},#{teamEndTime})
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            select  last_insert_id()
        </selectKey>
    </insert>

    <select id="getCourseById" parameterType="java.lang.Long" resultType="com.gugu.gugumodel.pojo.entity.CourseEntity">
        select id id,teacher_id teacherId,course_name courseName,introduction introduction,presentation_percentage presentationPercentage,question_percentage questionPercentage,report_percentage reportPercentage,
               team_start_time teamStartTime,team_end_time teamEndTime from course where id=#{arg0}
    </select>
    
    <delete id="deleteCourseById" parameterType="java.lang.Long">
        delete from course where id=#{arg0}
    </delete>
    <select id="getTeamMainCourseId" parameterType="java.lang.Long" resultType="java.lang.Long">
        select team_main_course_id from course where id=#{arg0}
    </select>

    <select id="getSeminarMainCourseId" parameterType="java.lang.Long" resultType="java.lang.Long">
        select seminar_main_course_id from course where id=#{arg0}
    </select>

    <select id="getTeamRecieveCourses" parameterType="java.lang.Long" resultType="com.gugu.gugumodel.pojo.entity.ShareRecieveCourseEntity">
        select course.id id,course.teacher_id teacherId,course.course_name courseName,
               course.introduction introduction,share_team_application.id shareId from course,share_team_application
        where share_team_application.main_course_id=#{arg0} and share_team_application.status=1
        and course.id=share_team_application.sub_course_id
    </select>

    <select id="getSeminarRecieveCourses" parameterType="java.lang.Long" resultType="com.gugu.gugumodel.pojo.entity.ShareRecieveCourseEntity">
        select course.id id,course.teacher_id teacherId,course.course_name courseName,
               course.introduction introduction,share_seminar_application.id shareId from course,share_seminar_application
        where share_seminar_application.main_course_id=#{arg0} and share_seminar_application.status=1
          and course.id=share_seminar_application.sub_course_id
    </select>

    <select id="getSimpleCourseById" parameterType="java.lang.Long" resultType="com.gugu.gugumodel.pojo.entity.SimpleCourseEntity">
        select course.id id,course.teacher_id teacherId,course.course_name courseName,
               course.introduction introduction from course where course.id=#{arg0}
    </select>

    <select id="getShareSeminarIdByCourse" resultType="java.lang.Long">
        select id from share_seminar_application where share_seminar_application.main_course_id=#{arg0}
        and share_seminar_application.sub_course_id=#{arg1}
    </select>
    <select id="getShareTeamIdByCourse" resultType="java.lang.Long">
        select id from share_team_application where share_team_application.main_course_id=#{arg0}
        and share_team_application.sub_course_id=#{arg1}
    </select>

    <select id="getCourseIdByTeacherId" parameterType="java.lang.Long" resultType="java.lang.Long">
        select id from course where teacher_id=#{arg0}
    </select>

    <delete id="deleteSeminarShare" parameterType="java.lang.Long">
    delete from  share_seminar_application where id=#{arg1}
    </delete>

    <delete id="deleteTeamShare" parameterType="java.lang.Long">
        delete from  share_team_application where id=#{arg1}
    </delete>

    <update id="deleteCourseTeamMain" parameterType="java.lang.Long">
        update course set team_main_course_id=null where id=#{arg0}
    </update>

    <update id="deleteCourseSeminarMain" parameterType="java.lang.Long">
        update course set seminar_main_course_id=null where id=#{arg0}
    </update>

    <select id="getSeminarShareApplicationById" parameterType="java.lang.Long" resultType="com.gugu.gugumodel.pojo.entity.ShareApplicationEntity">
        select id,main_course_id mainCourseId,sub_course_id subCourseId,
               sub_course_teacher_id subCourseTeacherId,status from share_seminar_application
        where id=#{arg0}
    </select>

    <select id="getTeamShareApplicationById" parameterType="java.lang.Long" resultType="com.gugu.gugumodel.pojo.entity.ShareApplicationEntity">
        select id,main_course_id mainCourseId,sub_course_id subCourseId,
               sub_course_teacher_id subCourseTeacherId,status from share_team_application
        where id=#{arg0}
    </select>
    <update id="deleteAllTeamByCourseId" parameterType="java.lang.Long">
        update klass_student set team_id=null where course_id=#{arg0}
    </update>

    <delete id="deleteAllSeminarByCourseId" parameterType="java.lang.Long">
        delete seminar,klass_seminar from seminar left join klass_seminar on klass_seminar.seminar_id=seminar.id
        and seminar.course_id=#{arg0}
    </delete>

</mapper>