<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.gugu.gugumodel.mapper.KlassSeminarMapper">

    <delete id="deleteByKlass" parameterType="java.lang.Long">
        delete from klass_seminar where klass_id=#{param1}
    </delete>

    <select id="getKlassSeminarIdByKlass" resultType="java.lang.Long">
        select id from klass_seminar where klass_id=#{param1}
    </select>

    <select id="getKlassSeminarEntityByKlassId" resultType="com.gugu.gugumodel.entity.KlassSeminarEntity">
        select seminar_id seminarEntity.id,klass_id klassId,id klassSeminarId,reportDDL report_ddl,status status
        from klass_seminar
        where klass_id=#{param1}
    </select>

    <select id="getKlassSeminarId" resultType="java.lang.Long">
        select id from klass_seminar where seminar_id=#{arg0} and klass_id=#{arg1}
    </select>

    <select id="getAllKlassSeminarId" parameterType="java.lang.Long">
        select select id from klass_seminar where seminar_id=#{arg0}
    </select>

    <delete id="deleteKlassSeminarById" parameterType="java.lang.Long">
        delete from klass_seminar where id=#{arg0}
    </delete>

    <update id="setReportDDLInClass">
        update klass_seminar set report_ddl=#{date} where seminar_id=#{seminarId} and klass_id=#{klassId}
    </update>

    <select id="getSeminarInClass" resultType="com.gugu.gugumodel.entity.KlassSeminarEntity">
        select klass_seminar.report_ddl reportDDL,klass_seminar.status status from klass_seminar
        where  klass_id=#{arg1} and seminar_id=#{arg0}
    </select>

    <update id="setSeminarStatus">
        update klass_seminar set status=#{status} where klass_id=#{classId} and seminar_id=#{seminarId}
    </update>

    <update id="setSeminarReportddl">
        update klass_seminar set report_ddl=#{date}
        where klass_id=#{classId} and seminar_id=#{seminarId}
    </update>
</mapper>