<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.gugu.gugumodel.mapper.KlassStudentMapper">
    <select id="findTeamIdByStudentIdAndCourseId" resultType="java.lang.Long">
        select team_id from klass_student where student_id=#{student_id} and course_id=#{course_id}
    </select>

    <insert id="newStudentToClass">
        insert klass_student(klass_id,student_id,course_id) values (#{param1},#{param2},#{param3})
    </insert>


</mapper>