<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.gugu.gugumodel.mapper.KlassStudentMapper">
    <select id="findTeamIdByStudentIdAndCourseId" resultType="java.lang.Long">
        select team_id from klass_student where student_id=#{student_id} and course_id=#{course_id}
    </select>

    <insert id="newStudentToClass">
        insert klass_student(klass_id,student_id,course_id) values (#{param1},#{param2},#{param3})
    </insert>

    <delete id="deleteByKlass" parameterType="java.lang.Long">
        delete from klass_student where klass_id=#{param1}
    </delete>


    
    <select id="getTeamIdByClassAndStatus" resultType="java.lang.Long">
        select team_id from klass_student where klass_id=#{param1} and student_id=#{studentId}
    </select>

    <select id="getKlassIdByCourseAndStudent" resultType="java.lang.Long">
        select klass_id from klass_student where course_id=#{param1} and student_id=#{param2}
    </select>

    <update id="addMember" >
        update klass_student set team_id=#{param1} where klass_id=#{param2} and student_id=#{studentId}
    </update>

    <select id="getStudentTeam" resultType="java.lang.Long">
        select team_id from team_student where student_id=#{arg0}
    </select>

    <select id="getStudentByTeamId" resultType="java.lang.Long">
        select student_id from klass_student where team_id=#{param1}
    </select>

    <update id="removeAllMemberByCourseId">
        update klass_student set team_id=null where course_id=#{param1}
    </update>

    <update id="updateTeamByStudentId">
        update klass_student set team_id=#{param2} where student_id=#{param1}
    </update>
</mapper>