<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.gugu.gugumodel.mapper.KlassSeminarMapper">
    <delete id="deleteByKlass" parameterType="java.lang.Long">
        delete from klass_seminar where klass_id=#{param1}
    </delete>

    <select id="getKlassSeminarIdByKlass" resultType="java.lang.Long">
        select id from klass_seminar where klass_id=#{param1}
    </select>

    <select id="getKlassSeminarId" parameterType="java.lang.Long" resultType="java.lang.Long">
        select id from klass_seminar where seminar_id=#{arg0}
    </select>

    <delete id="deleteKlassSeminarById" parameterType="java.lang.Long">
        delete from klass_seminar where id=#{arg0}
    </delete>
</mapper>