<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.gugu.gugumodel.mapper.RoundMapper">
    <select id="getRoundMessageById" parameterType="java.lang.Long" resultType="com.gugu.gugumodel.entity.RoundEntity">
        select id,course_id courseId,round_serial roundSerial,presentation_score_method presentationScoreMethod,
               report_score_method reportScoreMethod,question_score_method questionScoreMethod from round where id=#{param}
    </select>

    <update id="editRoundMessage" parameterType="com.gugu.gugumodel.entity.RoundEntity">
        update round set report_score_method=#{reportScoreMethod},presentation_score_method=#{presentationScoreMethod},
                         question_score_method=#{questionScoreMethod} where id=#{id}
    </update>

    <insert id="newRound" parameterType="com.gugu.gugumodel.entity.RoundEntity" useGeneratedKeys="true" keyProperty="id">
        insert round(course_id,round_serial) values (#{courseId},#{roundSerial})
    </insert>

    <select id="getRoundMessageByCourseId" parameterType="java.lang.Long" resultType="com.gugu.gugumodel.entity.RoundEntity">
        select id,course_id courseId,round_serial roundSerial,presentation_score_method presentationScoreMethod,
               report_score_method reportScoreMethod,question_score_method questionScoreMethod from round where course_id=#{param}
    </select>
</mapper>