<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.gugu.gugumodel.mapper.SeminarMapper">
    <resultMap id="SeminarInfoEntity" type="com.gugu.gugumodel.entity.SeminarEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="course_id" jdbcType="BIGINT" property="courseId"/>
        <result column="round_id" jdbcType="BIGINT" property="roundId"/>
        <result column="seminar_name" jdbcType="VARCHAR" property="seminarName"/>
        <result column="introduction" jdbcType="VARCHAR" property="introduction"/>
        <result column="max_team" jdbcType="TINYINT" property="maxTeam"/>
        <result column="is_visible" jdbcType="TINYINT" property="isVisible"/>
        <result column="seminar_serial" jdbcType="TINYINT" property="seminarSerial"/>
        <result column="enroll_start_time" jdbcType="TIMESTAMP" property="enrollStartTime"/>
        <result column="enroll_end_time" jdbcType="TIMESTAMP" property="enrollEndTime"/>
    </resultMap>
    <select id="getSeminarsByRound" parameterType="java.lang.Long" resultMap="SeminarInfoEntity">
        select id,course_id,round_id,seminar_name,introduction,max_team,is_visible,
               seminar_serial,enroll_start_time,enroll_end_time from seminar where round_id=#{param1}
    </select>

    <insert id="newSeminar" useGeneratedKeys="true" keyProperty="id" parameterType="com.gugu.gugumodel.entity.SeminarEntity">
        insert into seminar(course_id,round_id,seminar_name,introduction,max_team,is_visible,seminar_serial,enroll_start_time,enroll_end_time) values (#{courseId},#{roundId},#{seminarName},#{introduction},#{maxTeam},#{isVisible},#{seminarSerial},#{enrollSTime},#{enrollETime})
    </insert>

    <select id="getKlassIdBySeminerId" parameterType="java.lang.Long" resultType="java.lang.Long">
          select klass_id from klass_seminar where seminar_id=#{arg0}
    </select>

    <update id="updateSeminar" parameterType="com.gugu.gugumodel.entity.SeminarEntity">
        update seminar set seminar_name=#{seminarName},introduction=#{introduction},max_team=#{maxTeam},
        is_visible=#{isVisible},seminar_serial=#{seminarSerial},enroll_start_time=#{enrollSTime},enroll_end_time=#{enrollETime}
        where id=#{id}
    </update>

    <delete id="deleteSeminar" parameterType="java.lang.Long">
        delete from seminar where id=#{arg0}
    </delete>

    <select id="getSeminarById" parameterType="java.lang.Long" resultMap="SeminarInfoEntity">
        select * from seminar where id=#{arg0}
    </select>

    <select id="getRoundId" parameterType="java.lang.Long" resultType="java.lang.Long">
        select round_id from seminar where id=#{arg0}
    </select>
</mapper>