<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.gugu.gugumodel.mapper.SeminarScoreMapper">
    <resultMap id="SeminarScoreMap" type="com.gugu.gugumodel.entity.SeminarScoreEntity">
        <id column="klass_seminar_id" jdbcType="BIGINT" property="klassSeminarId"/>
        <result column="team_id" jdbcType="BIGINT" property="teamId"/>
        <result column="total_score" jdbcType="DECIMAL" property="totalScore"/>
        <result column="presentation_score" jdbcType="DECIMAL" property="presentationScore"/>
        <result column="question_score" jdbcType="DECIMAL" property="questionScore"/>
        <result column="report_score" jdbcType="DECIMAL" property="reportScore"/>
    </resultMap>
    <select id="getTeamAllScore" parameterType="java.lang.Long" resultType="com.gugu.gugumodel.entity.SeminarScoreEntity">
        select klass_seminar_id klassSeminarId,team_id teamId ,total_score totalScore,presentaton_score presentationScore,question_score questionScore,
               report_score reportScore from seminar_score where team_id=#{arg0}
    </select>
    
    <delete id="deleteByKlassSeminarId" parameterType="java.lang.Long">
        delete from seminar_score where klass_seminar_id=#{param1}
    </delete>

    <select id="getSeminarScore" parameterType="java.lang.Long" resultMap="SeminarScoreMap">
        select * from seminar_score where klass_seminar_id=#{param1} and team_id=#{param2}
    </select>

    <update id="setSeminarScore" parameterType="com.gugu.gugumodel.entity.SeminarScoreEntity">
        update seminar_score set total_score=#{totalScore},
        presentation_score=#{presentationScore},question_score=#{questionScore},report_score=#{reportScore}
        where klass_seminar_id=#{klassSeminarId} and team_id=#{teamId}
    </update>

    <select id="getSeminarAllScore" parameterType="java.lang.Long" resultMap="SeminarScoreMap">
        select * from seminar_score where klass_seminar_id=#{arg0}
    </select>

    <select id="getRoundSeminarScore"  resultType="com.gugu.gugumodel.entity.SeminarScoreEntity">
        select seminar_score.klass_seminar_id klassSeminarId,seminar_score.team_id teamId ,seminar_score.total_score totalScore,seminar_score.presentation_score presentationScore,seminar_score.question_score questionScore,
               seminar_score.report_score reportScore from seminar_score,klass_seminar,seminar
        where seminar_score.team_id=#{param1} and seminar_score.klass_seminar_id=klass_seminar.id and klass_seminar.seminar_id=seminar.id and seminar.round_id=#{param2}
    </select>

</mapper>