<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.gugu.gugumodel.mapper.SeminarScoreMapper">
    <select id="getTeamAllScore" parameterType="java.lang.Long" resultType="com.gugu.gugumodel.entity.SeminarScoreEntity">
        select klass_seminar_id klassSeminarId,team_id teamId ,total_score totalScore,presentaton_score presentationScore,question_score questionScore,
               report_score reportScore from seminar_score where team_id=#{arg0}
    </select>
    
    <delete id="deleteByKlassSeminarId" parameterType="java.lang.Long">
        delete from seminar_score where klass_seminar_id=#{param1}
    </delete>

</mapper>