<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.gugu.gugumodel.mapper.ShareTeamMapper">
    <resultMap id="shareTeamResultList" type="com.gugu.gugumodel.entity.TeamValidEntity">
        <id column="id" property="id"/>
        <result column="main_course_id" property="mainCourseId"/>
        <result column="sub_course_id" property="subCourseId"/>
        <result column="sub_course_teacher_id" property="subCourseTeacherId"/>
        <result column="status" property="status"/>
    </resultMap>

    <select id="getTeamShareList" resultMap="shareTeamResultList" parameterType="java.lang.Long">
        select * from share_team_application where sub_course_teacher_id=#{param1}
    </select>

    <select id="getTeamShareApplicationById" resultMap="shareTeamResultList" parameterType="java.lang.Long">
        select * from share_team_application where id=#{param1}
    </select>

    <update id="changeTeamShareStatus">
        update share_team_application set status=#{param2} where sub_course_teacher_id=#{param1}
    </update>


</mapper>