<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.gugu.gugumodel.mapper.ShareSeminarMapper">
    <resultMap id="shareSeminarResultList" type="com.gugu.gugumodel.entity.ShareApplicationEntity">
        <id column="id" property="id"/>
        <result column="main_course_id" property="mainCourseId"/>
        <result column="sub_course_id" property="subCourseId"/>
        <result column="sub_course_teacher_id" property="subCourseTeacherId"/>
        <result column="status" property="status"/>
    </resultMap>

    <select id="getSeminarShareList" resultMap="shareSeminarResultList" parameterType="java.lang.Long">
        select * from share_seminar_application where sub_course_teacher_id=#{param1} and status=null
    </select>

    <select id="getSeminarShareApplicationById" resultMap="shareSeminarResultList" parameterType="java.lang.Long">
        select * from share_seminar_application where id=#{param1}
    </select>

    <update id="changeSeminarShareStatus">
        update share_seminar_application set status=#{param2} where id=#{param1}
    </update>

    <insert id="newShareSeminarApplication" useGeneratedKeys="true" keyProperty="id">
        insert into share_seminar_application(main_course_id, sub_course_id, sub_course_teacher_id) values (#{param1},#{param2},#{param3})
    </insert>


</mapper>