<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.gugu.gugumodel.mapper.StudentMapper">
    <resultMap id="studentResultList" type="com.gugu.gugumodel.entity.StudentEntity">
        <id column="id" property="id"/>
        <result column="is_active" property="isActive"/>
        <result column="student_name" property="studentName"/>
        <result column="account" property="account"/>
        <result column="email" property="email"/>
    </resultMap>

    <delete id="deleteStudentById" parameterType="java.lang.Long">
        delete from student where id=#{param1}
    </delete>


    <select id="getMembers" parameterType="java.lang.Long" resultType="com.gugu.gugumodel.entity.StudentEntity">
        select student.id id,student.is_active isActive,student.student_name studentName,student.email email,student.account account,
               student.password password
        from student,team_student where team_student.team_id=#{param1} and team_student.student_id=student.id
    </select>

    <select id="getLeader" parameterType="java.lang.Long" resultType="com.gugu.gugumodel.entity.StudentEntity">
        select student.id id,student.is_active isActive,student.student_name studentName,student.email email,student.account account,
               student.password password
        from student,team where team.id=#{param1} and student.id=team.leader_id
    </select>
    
    <select id="getStudentWithoutTeam" parameterType="java.lang.Long" resultType="com.gugu.gugumodel.entity.StudentEntity">
        select student.id id,student.is_active isActive,student.student_name studentName,student.email email,student.account account,
               student.password password
        from student,klass_student ,team_student where student.id not in
        (select student_id from klass_student where klass_student.course_id=#{aeg0})
        klass_student.student_id=student.id and klass_student.course_id=#{arg0}
    </select>

    <select id="getStudentById" parameterType="java.lang.Long" resultType="com.gugu.gugumodel.entity.StudentEntity">
        select student.id id,student.is_active isActive,student.student_name studentName,student.email email,student.account account,
               student.password password
        from student where student.id=#{param1}
    </select>

    <select id="searchStudent" resultMap="studentResultList" parameterType="java.lang.String">
        select *
        from student
        where account=#{arg0} or student_name=#{arg0}
    </select>

    <select id="getStudents" resultMap="studentResultList">
        select id,account,student_name,email from student
    </select>

    <update id="resetStudentPassword" parameterType="java.lang.Long">
        update student set password=123456 where id=#{param1}
    </update>

    <update id="changeStudentInformation" parameterType="com.gugu.gugumodel.entity.StudentEntity">
        update student set account=#{account},student_name=#{studentName},email=#{email} where id=#{id}
    </update>

    <update id="changePassword">
        update student set password=#{param1} where id=#{param2}
    </update>

    <update id="changeEmail">
        update student set email=#{param1} where id=#{param2}
    </update>

    <update id="activeStudent" parameterType="com.gugu.gugumodel.entity.StudentEntity">
        update student set password=#{password},email=#{email},is_active=1 where id=#{id}
    </update>

    <insert id="newStudent" useGeneratedKeys="true" keyProperty="id" parameterType="com.gugu.gugumodel.entity.StudentEntity">
        insert into student(is_active,student_name,account,password) values (0,#{studentName},#{account},'123456')
    </insert>

    <select id="getStudentByAccount" parameterType="java.lang.String" resultType="java.lang.Long">
        select id from student where account=#{param1}
    </select>

    <select id="getEmailById" parameterType="java.lang.Long" resultType="java.lang.String">
        select email from student where id=#{arg0}
    </select>

    <select id="checkCourse" resultType="java.lang.Long">
        select klass_id from klass_student where course_id=#{param1} and student_id=#{param2}
    </select>
</mapper>