<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.gugu.gugumodel.mapper.StudentMapper">
    <resultMap id="studentResultList" type="com.gugu.gugumodel.pojo.entity.StudentEntity">
        <id column="id" property="id"/>
        <result column="is_active" property="isActive"/>
        <result column="student_name" property="studentName"/>
        <result column="account" property="account"/>
        <result column="email" property="email"/>
    </resultMap>

    <delete id="deleteStudentById" parameterType="java.lang.Long">
        delete from student where id=#{arg0}
    </delete>

    <delete id="existAllTeam" parameterType="java.lang.Long">
        delete from klass_student where student_id=#{arg0}
    </delete>

    <select id="getMembers" parameterType="java.lang.Long" resultType="com.gugu.gugumodel.pojo.entity.StudentEntity">
        select student.id id,student.is_active isActive,student.student_name studentName,student.email email,student.account account,
               student.password password
        from student,klass_student where klass_student.team_id=#{arg0} and klass_student.student_id=student.id
    </select>

    <select id="getLeader" parameterType="java.lang.Long" resultType="com.gugu.gugumodel.pojo.entity.StudentEntity">
        select student.id id,student.is_active isActive,student.student_name studentName,student.email email,student.account account,
               student.password password
        from student,team where team.id=#{arg0} and student.id=team.leader_id
    </select>
    
    <select id="getStudentWithoutTeam" parameterType="java.lang.Long" resultType="com.gugu.gugumodel.pojo.entity.StudentEntity">
        select student.id id,student.is_active isActive,student.student_name studentName,student.email email,student.account account,
               student.password password
        from student,klass_student where klass_student.team_id is null
        and klass_student.student_id=student.id and klass_student.course_id=#{arg0}
    </select>

    <select id="getStudentById" parameterType="java.lang.Long" resultType="com.gugu.gugumodel.pojo.entity.StudentEntity">
        select student.id id,student.is_active isActive,student.student_name studentName,student.email email,student.account account,
               student.password password
        from student where student.id=#{arg0}
    </select>

    <select id="searchStudent" resultMap="studentResultList" parameterType="java.lang.String">
        select id,account,student_name,email
        from student
        where account=#{arg0} or student_name=#{arg0}
    </select>

    <select id="getStudents" resultMap="studentResultList">
        select id,account,student_name,email from student
    </select>

    <update id="resetStudentPassword" parameterType="java.lang.Long">
        update student set password=123456 where id=#{arg0}
    </update>

    <update id="changeStudentInformation" parameterType="com.gugu.gugumodel.pojo.entity.StudentEntity">
        update student set account=#{account},student_name=#{studentName},email=#{email} where id=#{id}
    </update>

    <update id="changePassword">
        update student set password=#{arg0} where id=#{arg1}
    </update>

    <update id="changeEmail">
        update student set email=#{arg0} where id=#{arg1}
    </update>
</mapper>