<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.gugu.gugumodel.mapper.TeacherMapper">
    <resultMap id="teacherResultList" type="com.gugu.gugumodel.pojo.entity.TeacherEntity">
        <id column="id" property="id"/>
        <result column="is_active" property="isActive"/>
        <result column="teacher_name" property="teacherName"/>
        <result column="account" property="account"/>
        <result column="email" property="email"/>
    </resultMap>

    <delete id="deleteTeacherById" parameterType="java.lang.Long">
        delete from teacher where id=#{arg0}
    </delete>

    <select id="getTeachers" resultMap="teacherResultList">
        select id,account,teacher_name,email
        from teacher
    </select>

    <update id="resetTeacherPassword" parameterType="java.lang.Long">
        update teacher set password=123456 where id=#{arg0}
    </update>

    <update id="changeTeacherInformation" parameterType="com.gugu.gugumodel.pojo.entity.TeacherEntity">
        update teacher set account=#{account},teacher_name=#{teacherName},email=#{email} where id=#{id}
    </update>

    <insert id="newTeacher" useGeneratedKeys="true" keyProperty="id" parameterType="com.gugu.gugumodel.pojo.entity.TeacherEntity" >
        insert teacher(account,password,teacher_name,is_active,email)
        values (#{account},#{password},#{teacherName},#{isActive},#{email})
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            select  last_insert_id()
        </selectKey>
    </insert>


    <select id="getTeacherById" parameterType="java.lang.Long" resultType="com.gugu.gugumodel.pojo.entity.TeacherEntity">
        select id,is_active isActive, teacher_name teacherName,account,email,password
        from teacher where id=#{arg0}
    </select>

    <update id="changePassword">
        update teacher set password=#{arg0} where id=#{arg1}
    </update>

    <update id="changeEmail">
        update teacher set email=#{arg0} where id=#{arg1}
    </update>

    <select id="searchTeacher" resultMap="teacherResultList" parameterType="java.lang.String">
        select id,account,teacher_name,email
        from teacher
        where account=#{arg0} or teacher_name=#{arg0}
    </select>

    <update id="activeTeacher" parameterType="com.gugu.gugumodel.pojo.vo.ActiveUserVO">
        update teacher set password=#{password},email=#{email},is_active= where id=#{userId}
    </update>

    <select id="getTeacherByAccount" parameterType="java.lang.String" resultType="java.lang.Long">
        select id from teacher where account=#{param1}
    </select>
</mapper>