<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.gugu.gugumodel.mapper.TeamMapper">
    <resultMap id="TeamEntity" type="com.gugu.gugumodel.entity.TeamEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="klass_id" jdbcType="BIGINT" property="klassId"/>
        <result column="course_id" jdbcType="BIGINT" property="courseId"/>
        <result column="leader_id" jdbcType="BIGINT" property="leaderId"/>
        <result column="team_name" jdbcType="VARCHAR" property="teamName"/>
        <result column="team_serial" jdbcType="TINYINT" property="teamSerial"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
    </resultMap>
    <select id="findTeamById" parameterType="java.lang.Long" resultMap="TeamEntity">
        select id,klass_id,course_id,leader_id,team_name,team_serial,
               status from team where id=#{arg0}
    </select>

    <select id="getLeaderId" parameterType="java.lang.Long">
          select leader_id from team where id=#{arg0}
    </select>

    <update id="updateTeam" parameterType="com.gugu.gugumodel.entity.TeamEntity">
        update team set klass_id=#{klassId},course_id=#{courseId},leader_id=#{leaderId},team_name=#{teamName},status=#{status}
        where id=#{id}
    </update>

    <delete id="deleteStudentFromTeam" parameterType="java.lang.Long">
        delete from klass_student where team_id=#{arg0}
    </delete>

    <insert id="buildRelationStuAndTeam" >
        insert into klass_student(klass_id,student_id,course_id,team_id) values (#{teamEntity.klassId},#{studentId},#{teamEntity.courseId},#{teamEntity.id});
    </insert>

    <delete id="deleteTeam" parameterType="java.lang.Long">
        delete from team where id=#{arg0}
    </delete>

    <delete id="deleteStudentTeamRelation" parameterType="java.lang.Long">
        delete from klass_student where team_id=#{arg0}
    </delete>

    <update id="removeMember" >
        update klass_student set team_id=null where student_id=#{studentId} and team_id=#{teamId}
    </update>

    <select id="getTeamIdByKlassId" parameterType="java.lang.Long" resultType="java.lang.Long">
        select id from team where klass_id=#{param1}
    </select>

    <delete id="deleteByKlassId" parameterType="java.lang.Long">
        delete from team where klass_id=#{param1}
    </delete>

    <insert id="newTeam" useGeneratedKeys="true" keyProperty="id" parameterType="com.gugu.gugumodel.entity.TeamEntity">
        insert into team (klass_id,course_id,leader_id,team_name,team_serial,status)
        values (#{klassId},#{courseId},#{leaderId},#{teamName},#{teamSerial},#{status})
    </insert>
</mapper>